<div class = "container">
    <div class="wrapper">
        <form action="/login" method="post" role="form" name="SignIn_Form" class="form-login" id="loginForm">
            <span class="closeLogin" style="display:none;">×</span>
            <h3 class="form-login-heading">Please Login</h3><br>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required="true" autofocus="" />
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="true"/>
            <a class="link" href="#">Lost your password?</a>
            <button class="btn btn-lg btn-primary btn-block" id="loginButton" name="Submit" value="Login" type="Submit">Login</button>
        </form>
    </div>
</div>